@media (max-width: 767px) {
  /* #menu is the original menu */
  .js .sf-menu {
    display: none;
  }
  .js .slicknav_menu {
    display: block;
  }
  .noticias-section .lista-noticias {
    padding: 0 15px;
  }
  .noticias-section .lista-noticias .info-post {
    margin: 11px 0 30px 0;
  }
  .main-footer p {
    padding: 10px 0;
  }
  .line {
    border-right: none;
    padding: 30px 0;
  }
  div.club h2 {
    margin: 20px 0;
  }
  div.club .btn-club {
    margin: 20px 0 0;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* #menu is the original menu */
  .js .sf-menu {
    display: none;
  }
  .js .slicknav_menu {
    display: block;
  }
  .section-empresa .derecha .empresa-historia {
    height: 98px;
    padding-top: 40px;
  }
  .section-empresa .derecha .certificados .conatain-certificados ul li {
    margin: 36px 25px 10px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
